logs
project/project
project/target
target
tmp
.history
.cache
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
webapp/target
webapp/.settings
webapp/.project
webapp/.classpath
scraper/target
scraper/.settings
scraper/.project
scraper/.classpath