.main {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
.preference-panel {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
}

.alert-message {
    opacity: 50%;
    background-color: #FFF8DC;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    position: absolute;
    top: 40px;
}

.logo {
    float: left;
    vertical-align: middle;
    border-style: none;
    margin-right: 5px;
}

.radioLabel {
   display: inline;
   vertical-align: middle;
   margin-right: 10px;
}